header,
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: medium;
}
ul li {
  padding: 0 10px;
  line-height: 1.3em;
}
div.logo {
  float: left;
}
li a {
  transition: scale ease-in-out 1000ms;
}
li a:hover {
  color: #084866;
  font-weight: bold;
  transform: scale(1.01);
  transform-origin: left;
  transition: scale ease-in-out 1000ms;
}
.mobile_menu {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .mobile_menu {
  display: block;
}
  header {
    display: block;
    padding: 5vw 0;
  }
  header nav ul {
    display: block;
    padding: 0;
  }
  header nav:last-of-type ul {
    display: flex;
    /* justify-content: end; */
    align-items: center;
    padding: 0;
    position: absolute;
    right: 4vw;
    top: calc(5vw + 6.7%);
  }
  header nav:last-of-type ul li {
    padding: 0 3px;
    transition: all ease 800ms;
  }
  header div.logo + nav,
  .close {
    display: none;
  }
}
